body{
    text-align:center;
    background:url("bg.jpg")no-repeat;
    height:100vh;
   

}
#task , #add-btn{
    height: 50px;
    font-size:20px;
}
#add-btn{
    width:50px;
    font: weight 1000; 
    border:3px solid royalblue;
}
#input{
    margin-bottom:20px;
}
.listEle{
    position:relative;
    margin:auto;
    padding:10px;
    height:30px;
    width:500px;
    background-color:cyan;
    border:3px solid greenyellow;
    font-size:20px;

}
.afftercb{
    background-color:seagreen;
}
.cross{
   transform: rotate(135deg);
position:absolute;
right:0px;
top:2px;
font-size:24px;
cursor: pointer;} 