body{
    text-align:center;
    background:url("bg.jpg")no-repeat;
    
   

}
html{
    height:100vh
}
#task , #add-btn{
    height: 50px;
    font-size:20px;
}
#add-btn{
    width:50px;
    font: weight 1000; 
    border:3px solid #88fff7;
}
#input{
    margin-bottom:20px;
}
.listEle{
    position:relative;
    margin:auto;
    padding:10px;
    height:30px;
    width:500px;
    background-color:#7C83FD;
    border:3px solid #88FFF7;
    font-size:20px;

}
.afftercb{
    background-color:#96BAFF;
}
.cross{
   transform: rotate(135deg);
position:absolute;
right:0px;
top:2px;
font-size:24px;
cursor: pointer;
}
.listEle:hover{
    background-color: #7dedff;

}
